       
       body{
        background-color: rgb(rgb(167, 248, 245), green, blue);
        font-family: 'Roboto', sans-serif;
        padding: 3%;
       }

       h2{
        color: rgb(7, 124, 150);
        font-size: 2em;
       }

       #habilidades-principais {
        background-color: rgb(122, 187, 234);
       }

       #nome {
       color: rgb(0, 116, 217);
       }

       .list-style {
        background-color: rgb(122, 187, 234);
        color: aliceblue;
        font-weight: bold;
        font-style: italic;
        line-height: 40px;
        text-align: center;
       }

       #estilo-curriculo {
        color: white;
        background-color:rgb(0, 82, 189);
        padding: 10px;
        text-align: center;
       }

       div{
        /* border: 2px solid goldenrod; */
       }

       .image-container{
              height: 380px;
              position: relative;
       }

       #foto{
              float:left;
              height: 300px;
              padding: 10px;
              background-color: aqua;
       }

       .descrição{
              position:relative;
              top: 50%;
              right:-20px;
       }

       ul li:nth-child(odd){
              background-color: aquamarine;
       }